
 @if (User.Identity!.IsAuthenticated){

 
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
        </a>

        <ul class="text-white nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="/posts" class="text-white nav-link px-2 link-secondary">Tüm Gönderiler</a></li>

              <li><a href="/Posts/Create" class="text-white nav-link px-2 link-body-emphasis">Gönderi Olustur</a></li>
        </ul>

        <div class="dropdown text-end">
          <a href="#" class="text-white d-block link-body-emphasis text-decoration-none dropdown-toggle " data-bs-toggle="dropdown" aria-expanded="false">
            @User.Identity.Name
          </a>
          <ul class="bg-body dropdown-menu text-small">
            <li><a class="dropdown-item text-white" href="/User/profile">Profil</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item text-white" href="/user/signout">Çıkıs Yap</a></li>
          </ul>
        </div>
      </div>
    </div>
}else{

  
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="/posts" class="text-white nav-link px-2 link-secondary">Tum Gonderiler</a></li>
        </ul>

        

        <div class="text-end">
          <a asp-controller="User" asp-action="Signin" class="btn btn-primary">Giris Yap</a>
          <a asp-controller="User" asp-action="Signup"class="btn btn-warning">Kayit Ol</a>
        </div>
      </div>
</div>

}