
@model IEnumerable<TaxaController>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

@foreach(var taxx in Model){
    <p><dd>@Model.FirstOrDefault()</dd></p>
}
</body>
</html>